<!DOCTYPE html>
<html>
    <head>
        <title>Welcome!</title>
    </head>
    <body>
        Instructions: Please login to begin or continue labeling 5 random tweets from the 
        <a href https://huggingface.co/datasets/dair-ai/emotion> Emotions Dataset</a>.
        <form method="POST">
            <label>Enter First Name:</label>
            <input type="text" name="FIRST_NAME" required><br/>
            <label>Enter Last Name:</label>
            <input type="text" name="LAST_NAME" required><br/>
            <input type = "submit" value = "submit"/><br/>
        </form>
    </body>
</html>